<div class="container">
	
	<div class="row mb20 mt10">
		<span class="span1">Import file:</span>
		<input type="text" ui-select2="listnameSelector" ng-model="listname" class="span2">		
		<!--
		<select ui-select2 ng-model="select2" data-placeholder="pick imported file"
			class="span2">
		    <option value=""></option>
		    <option value="one">First</option>
		    <option value="two">Second</option>
		    <option value="three">Third</option>
		</select>
		-->
	</div>

	<smart-table table-css="table table-bordered" columns="columnCollection"
        ds="ds" config="globalConfig"></smart-table>

	<div class="navbar navbar-fixed-bottom" >
		<div class="navbar-inner">
			<div class="container">
				<div class="btn-group">
					<button class="btn" ng-click="onEdit()" ng-disabled="!selectedItem">Edit</button>
					<button class="btn" ng-click="onDelete()" ng-disabled="!selectedItem">Delete</button>
				</div>
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-success" ng-click="listImports();">Import</button>
				</div>
			</div>
		</div>
	</div>
</div>